/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2015, 9:32:59 AM
    Author     : PhamNgocHieu
*/
*
{
    margin:0px;
}
div.first
{
   width :100%;
   height:1050px; 
   background-image: url(../img/bg.jpg);
   background-size: cover;
   text-align: center;
   position: relative;
   z-index: 1000;
}
div.first>div.move
{
   position:absolute;
   top:300px;
   left: 250px;
}
div.first>div>h1
{
    color: #2c3e50;
    font-size: 3.5em;
    font-family: "Sofadi One",cursive;
    margin:50px;
}
div.first>div>p
{
  width:960px;
  height:115px;
  background: rgba(231, 76, 60, 0.4) none repeat scroll 0% 0%;
  border-radius: 30px;
  font-family: "Sofadi One",cursive;
  font-size: 2em;
  margin:auto;
  margin-top: 50px;
}
div.second
{
   width:100%;
   height: 1050px;
   background-image: url(../img/londoncity.jpg);
   background-size:cover;
   position: relative;
   z-index: 900;
   top:-300px;
   opacity: 0;
}
div.second>div
{
   height: 267px;
   width : 600px;
   background-color: rgba(192, 57, 43, 0.8);
   border-radius: 20px;
   display: inline-block;
   position: absolute;
   top:600px;
   left:30px;
}
div.second>img
{
   display:inline-block;
   position: absolute;
   top:800px;
   right:30px;
}
div.second>div>p,div.third>div>p
{
  font-family: "Elsie",cursive;
  cont-size:18px;
  font-style: italic;
  color:#fff;
  margin: 10px;
}
div.third
{
   width:100%;
   height:1050px;
   background-image:url(../img/appleinc.jpg);
   background-size: cover;
   position: relative;
   z-index: 800;
   top:-300px;
  // opacity: 0;
}
div.third>div
{
    height: 290px;
    width:600px;
    display:inline-block;
    position:absolute;
    top:800px;
    left:30px;
    background-color: rgba(44, 62, 80, 0.8);
    border-radius: 20px;
}
div.third>img
{
    display:inline-block;
    position:absolute;
    top:800px;
    right:30px;
}